.navbar{

    position:fixed;

    top:20px;
    left:50%;

    transform:translateX(-50%);

    width:92%;
    max-width:1300px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px 35px;

    background:rgba(15,23,42,.75);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.08);

    border-radius:18px;

    z-index:1000;

    box-shadow:0 10px 40px rgba(0,0,0,.25);

}

.logo{

    display:flex;
    align-items:center;

    gap:15px;

}

.logo-box{

    width:50px;
    height:50px;

    border-radius:14px;

    background:linear-gradient(135deg,#2563EB,#38BDF8);

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;

    font-size:22px;

}

.logo-text h2{

    color:white;
    font-size:24px;
    margin:0;

}

.logo-text span{

    color:#94A3B8;
    font-size:13px;

}

nav{

    display:flex;
    gap:28px;

}

nav a{

    color:#CBD5E1;

    font-size:16px;

    transition:.3s;

    position:relative;

}

nav a:hover{

    color:#38BDF8;

}

nav a::after{

    content:"";

    position:absolute;

    width:0;

    height:2px;

    left:0;
    bottom:-6px;

    background:#38BDF8;

    transition:.3s;

}

nav a:hover::after{

    width:100%;

}

@media(max-width:900px){

.navbar{

flex-direction:column;

gap:15px;

padding:20px;

}

nav{

flex-wrap:wrap;

justify-content:center;

gap:18px;

}

}